$frost: rgba(255, 255, 255, 0.6);
$blackice: rgba(0, 0, 0, 0.6);

.frost {
    color: $frost;
}

.bg-glass {
    background-color: $frost !important;
}

.bg-frost {
    @extend .bg-glass;
    backdrop-filter: blur(8px) !important;
}

.blackice {
    color: $blackice;
}

.bg-blackice {
    background-color: $blackice !important;
    backdrop-filter: blur(8px) !important;
}
