@import 'flex';
@import 'margin';
@import 'padding';
@import 'radius';
@import 'text';

.btn {
    @extend .row;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .rad-1;
    @extend .mar-1;
    @extend .pad-1;
    @extend .txt;
    @extend .txt-bold;
    text-align: center;
    transition: 333ms background-color;
    border-style: none;
}

a {
    @extend .btn;
    text-decoration: none;
}

button {
    @extend .btn;
}

a, button {
    &.raised {
        @extend .drop-shadow;
    }
}

