@import 'flex';
@import 'background';
@import 'drop-shadow';
@import 'padding';
@import 'radius';

.btn {
    @extend .row;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .rad-1;
    @extend .pad-3;        
    text-align: center;
    transition: 333ms background-color;
    border-style: none;
    display: block;
}

a {
    @extend .btn;
    text-decoration: none;
}

button {
    @extend .btn;
}

a, button {
    &.raised {
        @extend .drop-shadow;
    }
}

a, button {
    &.stroked {
        border: solid 1px $blackice;
    }
}
