.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.col {
    @extend .flex;
    flex-direction: column;
}

.row {
    @extend .flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}