.flex {
    display: flex;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}


.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.col {
    @extend .flex;
    flex-direction: column;
}

.row {
    @extend .flex;
    flex-direction: row;
}

.col-wrap {
    @extend .flex;
    @extend .col;
    flex-wrap: wrap;
}

.row-wrap {
    @extend .flex;
    @extend .row;
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}
