@import 'button';
@import 'flex';

form {
    display: block;

    input, label, select, option, fieldset {
        @extend .btn;
        display: block;
    }

    & > fieldset {
        @extend .row;
        width: 100%;
        @extend .justify-content-space-between;
        @extend .align-items-center;

        & > input, & > select {
            @extend .grow-1;
        }
    }
}
