.hero {
    margin: 0;
    padding: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    display: grid;
    place-items: center;
    text-align: center;

    & > *:first-child {
        height: 100%;        
        display: grid;
        place-items: center;        
        &, .content {
            width: 100%;
            text-align: center;
        }
    }    
}
