.nav {
  transition: width 333ms;
  width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  overflow-y: scroll;
  top: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    width: 100%;
  }

  a {
    display: flex;
    align-items: center;
    border-style: none;

    &.hover {
      i,
      span {
        filter: drop-shadow(8px 8px 1px rgba(0, 0, 0, 0.1));
      }
    }

    i {
      transition: 333ms;
    }
  }
}
chimera-chimera-bulkprintrequest     NPjbA-LTT5aagTmHVDeZWA 5 1   0  0   1.2kb   1.2kb
chimera-chimera-riskscorecoefficient 8gUxm9xbSL-WY5Dxd5Colw 5 1   0  0   1.2kb   1.2kb
chimera-chimera-workflow-definitions YD5ALti-RoGaD6UhWqjLQA 5 1  10  0  44.8kb  44.8kb
chimera-chimera-person               rJ00HgfVT4O2MUpqNyvPjA 5 1 100 12  48.8kb  48.8kb
chimera-chimera-form                 crTeP1rXSZipdt5plIVNgQ 5 1 100  0 125.8kb 125.8kb
chimera-chimera-facility             RvCuUqFsTEGEETDRc0CK1w 5 1   0  0   1.2kb   1.2kb
chimera-chimera-accesspolicy         81qmiW6US92P6PtLyf9QHw 5 1   0  0   1.2kb   1.2kb
chimera-chimera-npi                  DC_EqdWLSFKAnhEV4qvvew 5 1   0  0   1.2kb   1.2kb
chimera-chimera-workflowinstance     Dzl5oOmeQ7qsuN9wPitqhg 5 1   0  0   1.2kb   1.2kb
chimera-chimera-icd10                Lxl9ucrtTlWgHz4RW2W9Cw 5 1  48  6 135.9kb 135.9kb
chimera-chimera-profile              wzEugVHWTZ2SKS_9IsHp-A 5 1 100  0 645.5kb 645.5kb